body {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color: #aaa;
  background-color: black; 
}
h2{
  font-size: 40px;
}
h1, h3, h4 {
  font-family: 'Lato', sans-serif; 
}
h1 {
  font-size: 60px;
  text-align: center; 
}

nav li {
  display: inline;
  padding: 20px;
  margin: 5px; 
}
nav a {
  text-decoration: none;
  color: #d10025;
  font-size: 25px; 
}

section {
  margin: 20px 0;
  padding: 10px 40px; 
}

.flex-container {
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap;
  flex-basis: 25%;
}
.flex-box {
    flex: 1;
    padding: 15px;
    margin: 10px; 
  }
#about .flex-box :nth-child(1){
  flex-basis: 100%;
}
.play{
  flex: 2;
  margin-right: 100px;
}
.platform {
  padding: 20px; 
  width: 60%;
  align-content: center;
  margin: auto;
}
#about li {
    list-style: none; 
}
.platform img {
    width: 30%;
    height: 130px; 
    flex: 1;
}

.flex-box img{
    width: 100%;
}

.list-character p {
  font-size: 18px; 
}
.list-character img{
    height: 200px;
    width: 260px;
  }
  .list-character div{
    background: #aaa;
    color: black;
  }
  .list-character h4{
    color: #d10025;
    font-size: 30px;
    text-align: center;
  }
#scenarios h3{
  color: #d10025; 
}
#scenarios h3:nth-last-child(odd){
  padding-top: 100px;
}

footer{
  background: #d10025;
  display: flex;
  justify-content: center;
}