body{
	
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
header{
	margin-bottom: 20px;
	min-height: 250px;
	background-color: #fff;
}
h1{
	padding: 40px 20px;
	margin: 10px auto;
	font-size: 60px;
	text-align: center;
	color: #664eae;
	font-family: 'Major Mono Display', monospace;

}

div{
	padding: 20px 40px;
	margin: 10px;
}
input{
	padding: 10px 20px;
	font-size: 30px;
	text-align: center;
	color: #1a0554;
	width: 210px; 
	border-radius: 5px;
	border: 5px solid #1a0554;
	background-color: #c4a8ff;

	margin-right: 50px;
	font-family: 'Open Sans', sans-serif;
}
.btn{
	padding: 10px 20px;
	font-size: 30px;
	text-align: center;
	padding: 10px;
	background-color: #1a0554;
	color: #fff;
	border: #1a0554 5px solid;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
}


#center{
	text-align: center;
	margin: auto;
}

#results, #wakanda-name{
	text-align: center;
	color: #0c0b13;
	font-family: 'Open Sans', sans-serif;
}
#wakanda-name h2{
	font-size: 60px;
}
.box-header{
	background-color: #0c0b13;
	margin: 0;
}
.box-one{
	background-color: #1a0554;
	margin: 0;
}
.box-two{
	background-color: #0c0b13;
	margin: 0;
}
.box-three{
	background-color: #c4a8ff;
	margin: 0;
}
.box-four{
	background-color: #664eae;
	margin: 0;
}
a{
	color: inherit;
	text-decoration: none;
}
a:hover{
	color: #0c0b13;
}
footer{
	border-top: solid 10px #fff;
	font-size: 20px;
	color: #c4a8ff;
	margin: 20px inherit;
	padding: 20px;
	background-color: #664eae;
}