body{
	color: #171915;
	font-size: 20px;
	font-family: 'Niramit', sans-serif;
	background-color: #d6ba71;
}
h1{
	font-family: 'Fugaz One', cursive;
	text-align: center;
	font-size: 60px;
	color: #467717;
}
h2{
	font-family: 'Fugaz One', cursive;
	font-size: 30px;
}

header img{
	width: 100%;
}

section{
	border-top: solid #467717 40px;
	margin: 100px 20px;
	padding: 100px 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background-color: white;
}

section div{
	flex: 1; 
}
section p{
	padding: auto 20px;
}
.img-section{
	display: flex;
	flex-wrap: wrap;
}
.img-section img{
	flex: 1;

}
footer{
	background-color: #171915;
	color: white;
	margin: 10px;
	padding-top: 20px;
}
nav{
	text-align: center;
}
ul{
	text-decoration: none;
}
li{
	display: inline-block;
	margin: 15px 0;
	padding: 5px 30px;
	border: solid #467717 5px;
	border-radius: 5px;
	background-color: white;
}
footer a{
	color: #467717;
	text-decoration: none;
	font-size: 25px;
}
li:hover, a:hover{
	background-color: #171915;
	color: white;
}

footer p{
	margin: auto 20px;
	font-size: 15px;
	padding-bottom: 30px;
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 1024px) {
  
  .img-section{
	margin: 10px;
  }
.img-section img{
	flex-basis: 50%;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  header img{
  	max-width: 100%;
  	height: auto;
  }
  iframe{
  	max-width: 300px;
  	height: auto;
  }
  .img-section{
  	display: inline-block;
	margin: 10px;
  }
.img-section img{
	width: 100%;

  }
  footer h1{
  	font-size: 30px;
  }
  
}